table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      text-align: center;
      background-color: #5ef016;
    }

    th, td {
      border: 2px solid #423c3c;
      padding: 10px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    th {
      background-color: #ffffff;
      font-family: Arial, Helvetica, sans-serif
    }

    .sin-stock {
      background-color: rgb(250, 90, 90); 
    }

    .stock-bajo {
      background-color: #f8f41b;
    } 

    h2 {
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    botones {
  text-align: center;
  margin: 30px 0;
}

.botones button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botones button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#btn-filtrar {
  background-color: #dc3545;
}

#btn-filtrar:hover {
  background-color: #a71d2a;
}


#btn-limpiar {
  background-color: #28a745;
}

#btn-limpiar:hover {
  background-color: #1c7c31;
}